.video {
    margin-left:auto;
    padding:20px;
    display:flex;
    align-items: center;
     margin-right: auto;
    display: block
   
}

// Перемешал все, и стили библиотеки, и инлайн стили, и jsx, и scss))))))))